body {
	/* background-color:  !important; */
}
h1 {
	font-weight: 510 !important;
}
h3 {
	font-weight: 510 !important;
}

input {
	border-radius: 0.28571429rem !important;
}

#brand-title {
	margin-top: 0 !important;
	font-weight: 510;
	font-size: 2rem;
	color: black;
}
.brand-col {
	padding-left: 10% !important;
	margin-top: 5%;
}
.list-col {
	padding-right: 10% !important;
	padding-left: 10% !important;
	padding-top: 2% !important;
	text-align: center;
}

.row {
	justify-content: center !important;
}

.list-title {
	color: black;
	font-weight: bold;
	justify-content: center;
	display: flex;
	padding-bottom: 1%;
}

#landing-list-div {
	padding-top: 2%;
}

#list-list-div {
	padding-bottom: 2%;
}

.list-segment {
	margin-right: 10% !important;
	margin-left: 10% !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.details-col {
	text-align: center;
	vertical-align: middle;
	align-self: center;
}

#index-col {
	background-color: lightgrey;
	text-align: center;
	align-self: center;
	vertical-align: middle;
	padding-left: 0;
	padding-right: 0;
}

.list-image {
	width: 75%;
}

.book-title {
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
}

.search-div {
	margin-bottom: 5%;
}

.search-prompt {
	font-weight: bold;
}

.search-tip {
	font-size: 75%;
	margin-bottom: 100% !important;
}

#newlist-title {
	color: rgb(82, 87, 107);
	font-size: 1.5rem;
	font-weight: 500;
}

#results-div {
	visibility: hidden;
}
.results-image {
	width: 40%;
}
.results-segment {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
